# App Configuration
PROJECT_NAME="Smart Parent Calling System (SPCS)"
API_V1_STR="/api"
SECRET_KEY="spcs_super_secret_key_for_development_purposes"
ACCESS_TOKEN_EXPIRE_MINUTES=11520
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database Configuration
# For SQLite
DATABASE_URL="sqlite:///./spcs.db"
# For MySQL (Production)
# DATABASE_URL="mysql+pymysql://user:password@localhost:3306/spcs"

# ESP32 Communication Security
ESP32_API_KEY="esp32_secret_api_key_for_secure_device_access"
